.container > div {
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 2em;
    color: #ffeead;
}

.content {
    text-align:left;
    margin: 0px;
    padding: 6px;
    line-height: 28px;

}


html, body {
    background-color: #ffeead;
    margin: 10px;
    
  }



/*Phone screen*/

@media only screen and (max-width: 640px) {
.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,100px);
    
    grid-gap: 15px;
}

.content {
    text-align:left;
    margin: 0px;
    padding: 6px;
    line-height: 40px;

}
.header {
    background-color: #ceb896;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    border-radius: 10px;

}

.sidebar {
    background-color: #88d8b0;
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    border-radius: 10px;
}

.content {
    background-color: #ff6f69;
    display: grid;
    grid-column: 1 / 7;
    grid-row: 3 / 5;
    border-radius: 10px;
    grid-template-columns: min-content;
    
}

.sidebar2 {
    background-color: #ffcc5c;
    grid-column: 1 / 7;
    grid-row: 5 / 6;
    border-radius: 10px;
}

.footer {
    background-color:#9ef376;
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    border-radius: 10px;
}

}


/*Tablet screen*/

@media (min-width: 641px) and  (max-width: 1007px) {
    .container {
            display: grid;
            grid-gap: 3px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4,100px);
            grid-gap: 15px;
        }
    
    
    .header {
        background-color: #ceb896;
        grid-column: 1/5;
        grid-row: 1/2;
        border-radius: 10px;
    
    }
    
    .sidebar {
        background-color: #88d8b0;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-radius: 10px;
    }
    
    .content {
        background-color: #ff6f69;
        display: grid;
        grid-column: 2 / 5;
        grid-row: 2 / 3;
        border-radius: 10px;
        grid-template-columns: min-content;
    }
    
    .sidebar2 {
        background-color: #ffcc5c;
        grid-column: 1 / 5;
        grid-row: 3 / 4;
        border-radius: 10px;
    }
    
    .footer {
        background-color:#9ef376;
        grid-column: 1 / 5;
        grid-row: 4 / 5;
        border-radius: 10px;
    }
    
    }
    /**computer screen**/
    @media only screen and (min-width: 1008px) {
        .container {
                display: grid;
                grid-gap: 3px;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(10,100px);
                grid-gap: 15px;
            }
        .content {
                text-align:left;
                margin: 0px;
                padding: 6px;
                line-height: 40px;
            
            }
        
        .header {
            background-color: #ceb896;
            grid-column: 1 / 6;
            grid-row: 1 / 2;
            border-radius: 10px;
        
        }
        
        .sidebar {
            background-color: #88d8b0;
            grid-column: 1 / 2;
            grid-row: 2 / 4;
            border-radius: 10px;
        }
        
        .content {
            background-color: #ff6f69;
            display: grid;
            grid-column:  2 / 5;
            grid-row: 2 / 4;
            border-radius: 10px;
            grid-template-columns: min-content;
        }
        
        .sidebar2 {
            background-color: #ffcc5c;
            grid-column: 5 / 6;
            grid-row: 2 / 4;
            border-radius: 10px;
        }
        
        .footer {
            background-color:#9ef376;
            grid-column: 1 / 6;
            grid-row: 4 / 5;
            border-radius: 10px;
        }
        
        }