.Niger {
    height: 500px;
    width: 582.5px;
    margin: left;
    background: #ffffff;
    margin: left;
    border-style: solid;
    border-color:  #f0e8e8;
}
.circle {
    display:inline-block;
    background:  #E15307;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 258px;
    left: 220px;
}
.color-one {
    display:inline-block;
    background:  #E15307;
    width: 582px;
    height: 165px;
    position: absolute;
    top: 83px;
    left: 11px;
}
.color-two {
    display:inline-block;
    background:  #10AF2A;
    width: 582px;
    height: 165px;
    position: absolute;
    top: 418px;
    left: 11px;
}